.main-page {
    --f7-tabbar-link-active-color: black;
    --bg-color: #eaeaea76;
    --text-color: black;
    --f7-searchbar-input-bg-color: white;
    --f7-searchbar-placeholder-color: black;
    --f7-searchbar-search-icon-color: black;
}

/* Fonts */
.main-page .bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.main-page .lato {
    font-family: 'Lato', sans-serif;
}

.main-page #tab-1.page-content,
.main-page #tab-3.page-content {
    background-color: var(--bg-color);
    color: black;
    /* IoS Space needed for dynamic island*/
    /* padding-top: 0px; */
}

.main-page #tab-2.page-content{
    background-color: white;
}

/* IoS Space needed for dynamic island*/
/* .main-page .correction {
    margin-top: 0px;
} */

.main-page .navbar {
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: x-large;
}

.main-page .single-element {
    border-radius: 15px;
    border: 3px solid black;
    overflow: hidden;
}

.main-page .today-recipe-correction {
    opacity: 80%;
    width: auto;
    height: 30vh;
    background-size: cover;
    background-image: var(--today-pic);
    margin-top: 0px;
    right: 1.6vh;
}

.main-page .cus-today {
    padding-top: 4px;
    width: inherit;
    height: inherit;
    padding-left: 10px;
    font-size: x-large;
    color: white;
    font-weight: bold;
}

.main-page .skeleton-correction {
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
}

.main-page .reload-style {
    background-color: var(--bg-color);
}

.main-page .subtitle,
.main-page .subtitle-today {
    font-size: larger;
    padding: 0px;
    margin: 0px;
}

.main-page swiper-slide {
    width: auto;
    max-height: 100%;
    background: var(--bg-color);
}

.main-page .demo-swiper-multiple {
    width: 100%;
    height: auto;
}

.main-page .single-card {
    width: auto;
    overflow: hidden;
    /* max-width: 200px; */
    height: auto;
    display: flex;
    flex-direction: column;
}

.main-page .card-image {
    width: 100%;
    height: 17vh;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.main-page .card-image:active{
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.main-page .card-content {
    color: var(--text-color);
    font-weight: bolder;
}

.main-page .card-title {
    font-size: 1rem;
    line-height: 0.6;
}

.main-page .card-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.main-page .stat {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: var(--text-color);
}

.main-page .stat p {
    margin: 0px;
    margin-right: 5px;
    font-size: 14px;
    color: var(--stat-icon-color);
}

.navbar-inner{
    background: white !important;
}

.page-content .subnav {
    background: white !important;
}

/* Subnavbar styling */
.subnav {
    background: white !important;
}

.list-content{
    background: white !important;
    padding-top: 2vh;
}
  
/* Search Tab  */
.searchbar-container {
    background: white !important;
    width: 100%;
}

.list-content .image-container {
    width: 17vh;
    height: 17vh;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.list-content .list-item-image {
    width: 100%;
    height: 17vh;
    object-fit: cover;
    display: block;
    
}
  
.list-content .item-title{
    font-weight: 600;
    font-size: large;
    color: black;
}

.list-content .list-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.list-content .item-stats {
    display: flex;
    margin-top: 4px;
    font-size: 14px;
}
  
.list-content .stat {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Recipe Detail */
.container-detail .page-content {
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}
  
.container-detail .detail-navbar {
    --f7-navbar-bg-color: white;
    --f7-navbar-text-color: black;
}
  
.detail-main-border .block {
    margin: 0;
    padding: 0;
}
  
.detail-img-container {
    width: 100%;
    height: 30vh;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: none; 
}
  
.detail-img-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--selectedRecipe-cover);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
  
.detail-img-container img {
    border-radius: 30px;
    width: 80%;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: -2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
}
  
.recipe-info {
    text-align: center;
    margin-top: 3rem;
}
  
.recipe-info h3 {
    margin: 0.5rem 0 0.2rem;
    font-size: 1.4rem;
}
  
.recipe-info p {
    margin: 0;
    color: #bb5050;
}
  
.stats-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
  
.stats-row .stat-item {
    text-align: center;
}

.detail-post-row {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.detail-post-item{
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Ingridients */
.detail-recipe-components {
    flex-direction: column;
    margin-top: 1rem;
}

.detail-recipe-components-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

  .detail-recipe-components-item img {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.detail-recipe-components-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color:  black;
}

/*  Categories  start */
.categories-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-color: var(--bg-color);
}

.rounded-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.138);
    color: black;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.rounded-container:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.rounded-container:active {
    background-color: rgba(255, 165, 0, 0.8);
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0px 6px 15px rgba(255, 165, 0, 0.4);
}

.category-name {
    font-size: 1.67vh;
    font-weight: bold;
}

/*  Categories  end */

.extra-ios-space{
    padding-top: 2vh;
}

/* Settings tab start */
.title-settings{
    font-size: 2rem;
    margin: 0px;
}

.container-settings{
    color: black;
}
/* Setting tab end */

/* Favourites tab start */
.title-fav {
    font-size: 2rem;
    margin-bottom: 10px;
}
  
.paragraph-fav {
    font-size: 2.5vh;
    margin: 5px 0;
    color: rgb(77, 75, 75);
}
/* Favourites tab end */

/* Profile tab start */
.title-profile{
    font-size: 2rem;
    margin-bottom: 10px;
}

.profile-container {
    padding: 16px;
    text-align: center;
    background-color: var(--bg-color);
    min-height: calc(100vh - 56px);
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 16px;
    object-fit: cover;
    border: 3px solid #ccc;
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.bio {
    font-size: 16px;
    color: #666;
    margin-bottom: 24px;
}

.recipes-section {
    background-color: #fff;
    border-radius: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 24px;
    box-shadow: 0px -2px 10px rgba(0,0,0,0.1);
}
  
.recipes-title {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding-left: 16px; 
    padding-right: 16px; 
}

.recipe-card img {
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 6px;
}

.no-recipes-message {
     text-align:center ;
     padding-top :10 px;
     color:#555;
}
/* Profile tab end */